<% if obj.errors.any? %>
  <ul>
    <p><%= pluralize(obj.errors.count, "error") %> errors prevented the post from being created</p>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
